</style>

    <!-- Add note form -->
    <div class="formWrapper" id="formWrapper">
      <form class="form-horizontal">

        <!-- success msg -->
        <p class="success" id="success">Sticky note saved</p>

        <!-- character count -->
        <p class="noteCharCount" ng-model="noteMessage"><span></strong></span></p>

        <!-- note body textarea -->
        <div class="control-group">
          <label class="control-label" for="noteMessage">Note</label>
          <div class="controls"><textarea name="sticky" rows="5" id="noteMessage" maxlength="140" ng-model="noteMessage"></textarea></div>
        </div>


        <!-- submit button -->
        <div class="control-group">
          <div class="controls" id="kentot">
            <button type="button" class="btn btn-danger" id="cancelButton" ng-click="closeAddNoteForm()"><span aria-hidden="true" ></span> Cancel</button>
          </div>
        </div>
      </form>
    </div>
</style>

<!-- styles -->
    <link href="../css/reset.css" rel="stylesheet" />
    <link href="../bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/stickys.css" rel="stylesheet" />


<!-- scripts -->
    <script src="ng/public/jquery.plugins/jquery.min.js"></script>
    <script src="ng/public/jquery.plugins/jquery-ui.min.js"></script>
    <script src="ng/public/js/libs/angular.min.js"></script>
    <script src="ng/controllers/controllers.js"></script>
    <script src="ng/public/js/effects.js"></script>
    <script type="text/javascript">
    function add_this_note(canvas_name, note_id, note_content){
         $.ajax({url:"/notefires/update_note/"+canvas_name+"/"+note_id+"/"+note_content,
                  success:function(result){
                  $("#content").html(result);
                }});
    }
    function add_this_to_canvas(canvas_name,note_content){
        $.ajax({url:"/notefires/update_canvas/"+canvas_name+"/"+note_content,
                  success:function(result){
                  $("#content").html(result);
                }});
    }
    function delete_this_note(canvas_name, note_id){
        $.ajax({url:"/notefires/delete_note/"+canvas_name+"/"+note_id,
                  success:function(result){
                  $("#content").html(result);
                }});
    }
    function delete_canvas(canvas_name){
        x = false;
    if (confirm("Are you sure you want to delete this canvas?") == true) {
        x = true;
    } else {
        x = false;
    }
    if(x==true){
        $.ajax({url:"/notefires/delete_canvas/"+canvas_name,
                  success:function(result){
                  $("#content").html(result);
                }});
    }
}
    </script>

<div>
<body>

 <div>
 <br>
    <li style="list-style-type: none;" class="tooltip" data-tip="New Sticky Note" accesskey="n" ng-click="showAddNoteForm('{{canvas_name}}')"><button><img src="public/img/note.ico" alt=""></button><a class="" ng-click="showAddNoteForm('{{canvas_name}}')"></a>
    </li>
    <li style="list-style-type: none;" class="tooltip" data-tip="Delete this canvas" accesskey="n" onclick="delete_canvas('{{canvas_name}}');"><button><img src="public/img/del.ico" alt=""></button><a class=""></a>
    </li>
</div>


    <!-- start of notes -->
    <ul class="clearfix" id="notesContainer">
    {% if clicked_canvas %}
{% for key, data in clicked_canvas.items() %}
      <li ng-repeat="note in notes" class="aNote" id="{%raw%} note.date {%endraw%}" my-post-repeat-directive>
        <p><a class="editNote icon-edit" title="edit" ng-click="showEditNoteForm('{{canvas_name}}','{{key}}','{{data}}')"></a></p>

        <p><a title="delete" onclick="delete_this_note('{{canvas_name}}', '{{key}}');" ><img src="public/img/exit.ico" alt=""></a></p>

        <h1></h1>
        <p class="noteDate">Last date modified: {{last_edited}}</p>

        <p> {{data}}</p>
      </li>

{% endfor %}
{%endif %}
    </ul>
    <!-- end of notes -->
</body>
