<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.5/mootools-yui-compressed.js">
</script>
<script src="/js/itpoverlay.js" type="text/javascript"></script>
<link href="/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body background="/img/board1.png" id="body">

<div class="bs-example">
    <ul class="nav nav-tabs" id="def">
    <li><a data-toggle="tab" href="#sectionA">HOME</a></li>
    {% for x in canvas_id %}
        {% set testing = '#' %}
        {% set testing = testing + x %}
        <li><a data-toggle="tab" href={{testing}}>{{x}}</a></li>
    {% endfor %}

    <li><a data-toggle="tab" onclick="create_canvas();">+</a></li>
    </ul>
    <div class="tab-content" id="tab-content">
        <div id="sectionA" class="tab-pane fade in active">
            <h3>HOME</h3>
            <p>*insert home body here*</p>
        </div>
{% for x in canvas_id %}
        <div class="tab-pane fade" id={{x}} name="jonaba">
            <h3>{{x}}</h3>
            <p>
{% set mictest = x + "_ox" %}

                   {% for y in canvas_whole %}
                                {% if x == y[0] %}
                                {% set wrap = "wrapper" + (y[1] |e).split('AQUE')[0] %}
                                {% set notePK = (y[1] |e).split('AQUE')[1] %}
                                <!-- NOTE ID: {{ y[1] }} -->
                                <!-- <br> -->
                                <form  action="/api/notefires/save_notes"  id={{mictest}} name={{mictest}} method="post">
                                <input  id='ok' name='ok' value={{mictest}}  type="hidden"></input>
                                <input  id='ok' name='ok' value={{mictest}}  type="hidden"></input>
                                {% set mynoteid =  (y[1] |e).split('AQUE')[0] %}
                                {% if mynoteid  == "" %}

                                {% else %}

                                <div id = {{wrap}} name="">
                                    <img id="closer" src="/img/glyphicons-close.png" onclick="remove_note({{mictest}},{{wrap}},'{{notePK}}');">
                                    <textarea id="one" rows="10" name={{ (y[1] |e) }}>{{ y[2] }}</textarea>
                                </div>
                                 <!-- the name of the text area will be requested depending on the form where
                                 the submit button was click
                                 example:
                                 i click submit button named "SAVE NOTES"; save will only take effect on the canvas
                                 where i click the save button -->

                                {% endif %}
                                {% endif %}
                    {% endfor %}
                    <br><br>
                    <button type="button" id="add-notes" name="add-notes" onclick="addNotes(ok,{{mictest}});">ADD NOTES</button>
                    <button type="submit" id="save-notes" name="save-notes">SAVE NOTES</button>
                                </form>
            </p>
        </div>
 {% endfor %}
    </div>  <!--closing div of tab-content -->
</div>   <!--closing div of bs-example -->
 <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
function remove_note (parentForm,wrapID,notePK) {
    try{
        var sticky_counter = GetChildCount(parentForm);
        if (sticky_counter == 1){
            alert("You should have atleast one sticky note in a canvas");
        }else{
    x = false;
    if (confirm("Are you sure you want to delete this note?") == true) {
        x = true;
    } else {
        x = false;
    }
    if(x==true){
        // alert(window.location.href);
        parentForm.removeChild(wrapID);

                $.ajax({url:"/api/notefires/delete_notes/"+ notePK,
                  success:function(result){
                  $("body").html(result);
                }});

            // var overlay = new ItpOverlay();
            //             //make the ajax call, replace text
                        // var req = new Request.HTML({
                        //     method: 'get',
                        //     url: '/api/notefires/delete_notes',
                        //     onRequest: function() { loader.src="/img/ajax_loader.gif"; },
                        //     update: $('content'),
                        //     onComplete: function(response) { loader.src=""; }
                        // }).send();

    }
        }
}catch(err){
    alert(err.message);
    alert(wrapID);
}

}

function GetChildCount (parentForm){
            // alert(parentForm.innerHTML);
    items = parentForm.getElementsByTagName("div");
    return items.length;
}

function create_canvas() {
    var person = prompt("Please give your canvas a title ");
    if (person == null) {  //null is equal to cancel
        //do nothing
    }
    else if (person == "") {
        create_canvas();
    }
    else{
        var d = new Date();
        var n = d.toISOString();
        res = n.split('-').join("").split(':').join("").split('.').join("");
        newLi = document.createElement("LI");

        canvasTitle = document.createElement("A");
        t = document.createTextNode(person);
        canvasTitle.setAttribute("href","#"+person);
        canvasTitle.setAttribute("data-toggle","tab");
        canvasTitle.appendChild(t);

        newLi.appendChild(canvasTitle);
        deful = document.getElementById('def').appendChild(newLi);
//-------------------------------------------------------------------------------
        //DOM CREATING DIV for section
        var divsection = document.createElement('DIV');
        divsection.setAttribute("class","tab-pane fade");
        divsection.id = person;
        //DOM CREATING <H3>
        var h3title = document.createElement('H3');
        h3content = document.createTextNode(person);
        h3title.appendChild(h3content);
        divsection.appendChild(h3title);
        //DOM CREATING <P>
        var newp = document.createElement('P');
        //DOM CREATING FORM
        var newForm = document.createElement('FORM');
        newForm.setAttribute("action","/api/notefires/save_canvas");
        newForm.id = "okaysupposed";
        //DOM CREATING TEXTAREA
        var newTextArea = document.createElement('TEXTAREA');
        newTextArea.id = "one";
        newTextArea.name = person+"_notte"+ res;
        newForm.appendChild(newTextArea);
        //DOM CREATING Newline
        myNewLine = document.createElement("BR");
        newForm.appendChild(myNewLine);
            // DOM CREATING HIDDEN
            // it handles the canvas name
        canvasHide = document.createElement("INPUT");
        canvasHide.setAttribute("type","HIDDEN");
        canvasHide.id = person+"_notte"+ res;
                        // alert(canvasHide.id);
        canvasHide.name = 'personal';
        canvasHide.value = person;
        newForm.appendChild(canvasHide);
            // DOM CREATING HIDDEN
            // it handles the txtArea ID
        txtAreaIdHide = document.createElement("INPUT");
        txtAreaIdHide.setAttribute("type","HIDDEN");
            //txtAreaIdHide.id = person;
        txtAreaIdHide.name = 'txtAreaIdHide';
        txtAreaIdHide.value = person+"_notte"+ res;
        newForm.appendChild(txtAreaIdHide);
        //DOM CREATING BUTTON ADD
        var newADDNotes = document.createElement('BUTTON');
        newADDNotesValue = document.createTextNode('ADD NOTES');
        newADDNotes.setAttribute("type", "button");
        newADDNotes.onclick = function(){ addStickyinsideCanvas(person) };
        newADDNotes.appendChild(newADDNotesValue);
        newForm.appendChild(newADDNotes);
            //DOM CREATING BUTTON SAVE
        var newSaveNotes = document.createElement('BUTTON');
        newSaveNotesValue = document.createTextNode('SAVE');
        newSaveNotes.setAttribute("type", "submit");
        newSaveNotes.appendChild(newSaveNotesValue);
        newForm.appendChild(newSaveNotes);


        newp.appendChild(newForm);
        divsection.appendChild(newp);


        var divtab = document.getElementById("tab-content");
        divtab.appendChild(divsection);

        }
}
function addStickyinsideCanvas(ok){
    try{
        var d = new Date();
        var n = d.toISOString();
        var myNote = document.createElement("TEXTAREA");
        res = n.split('-').join("").split(':').join("").split('.').join("");
        myNote.id = ok+"_notte"+ res;
        myNote.name = ok+"_notte"+ res;
        document.getElementById("okaysupposed").appendChild(myNote);
        }
        catch(err){
            alert(err.message);
        }
}



function addNotes(ok,parentForm){
    //alert(ok.value);
    var d = new Date();
    var n = d.toISOString();
    res = n.split('-').join("").split(':').join("").split('.').join("");
    var myNote = document.createElement("TEXTAREA");
    myNote.id = "one";
    var mydiv = document.createElement("DIV");
    wrapID = (ok[0].value+"_wrapper"+ res).toString();
    myNote.name = ok[0].value+"_notte"+ res;
    var getter = (ok[0].value).toString();

    var myimg = document.createElement("IMG");
    myimg.setAttribute("src","/img/glyphicons-close.png");
    myimg.id ="closer";
    myimg.onclick = function(){ remove_note (parentForm,mydiv) };
    mydiv.appendChild(myimg);
    mydiv.appendChild(myNote);
    document.getElementById(getter).appendChild(mydiv);
                    // these commented lines are sample for embedded CSS inside javascript
                    // var myElement = document.querySelector("#"+getter);
                    // myElement.style.backgroundColor = "#D93600";
        // alert(parentForm.innerHTML);
    var sticky_counter = GetChildCount(parentForm);
        // alert(sticky_counter); -- to count the sticky notes
        // alert(ok[0].value);-- this line gets the corresponding id of form to where
        // you will append the new child
    }


</script>
<div id="content"></div>
<img src="" id="loader">
</body>
</html>
