
<style type="text/css">
  #dito{
    padding-left: 10%;
    color: white;
  }
</style>
<script type="text/javascript">
    function click_canvas(canvas_name){
         $.ajax({url:"/notefires/canvas/"+canvas_name,
                  success:function(result){
                  $("#content").html(result);
                }});
    }
</script>
<div id="dito">
</div>

<style>
   /* Begin Navigation Bar Styling */
   #nav {
      width: 100%;
      float: left;
      margin: 0 0 3em 0;
      padding: 0;
      list-style: none;
      background-color: #f2f2f2;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc; }
   #nav li {
      float: left; }
   #nav li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: #069;
      border-right: 1px solid #ccc; }
   #nav li a:hover {
      color: #c00;
      background-color: #fff; }
   /* End navigation bar styling. */

   /* This is just styling for this specific page. */
   body {
      background-color: #555;
      font: small/1.3 Arial, Helvetica, sans-serif; }
   #wrap {
      width: 100%;
      padding-left: 5%;

      /* opacity: 0.4;
    filter: alpha(opacity=40);*/

       }
   h1 {
      font-size: 1.5em;
      padding: 1em 8px;
      color: #333;
      background-color: #069;
      margin: 0; }
   #content {
      padding: 0 50px 50px; }
</style>
</head>

<body>
<div id="wrap">
   <ul id="nav">
{% for items in canvas_name %}



   <!-- Here's all it takes to make this navigation bar. -->

      <li><a onclick="click_canvas('{{items.canvas_name}}');">{{items.canvas_name}}</a></li>
      {% endfor %}
   </ul>
   <!-- That's it! -->

   <div id="content">

   </div>
</div>

</body>
</html>
