<form  action="/notefires/login_process" method="post">
EMAIL: <input type = "text" id="email" name="email" required/> <br><br>
PASSWORD: <input type = "password" id="password" name="password" required/> <br>
<button type="submit">LOG IN</button>
</form>
<a href="/notefires/signup">REGISTER</a>
