
<form  action="/notefires/createuser" method="post">
EMAIL: <input type = "text" id="email" name="email" required /> <br><br>
USERNAME: <input type = "text" id="username" name="username" required /> <br><br>
PASSWORD: <input type = "password" id="password" name="password" required /> <br>
<button type="submit">SIGN ME UP</button>
</form>
<a href="/notefires/login">LOG IN</a>


