<!doctype html>
<html ng-app="mcsas">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <title>Sticky Notes</title>

    <!-- styles -->


    <script type="text/javascript">
    function addCanvas(){
      var person = prompt("Please give your canvas a title ");
      if (person == null) {  //null is equal to cancel
          //do nothing
      }
      else if (person == "") {
          addCanvas();
      }
      else{
        var uname = document.URL.split('?');
        var on = (uname[1]).toString();
        var off = person.toString();
        var params = {on : off};
        $.ajax({url:"/notefires/create_canvas_process/"+on+"/"+off,
                    success:function(result){
                    $("#myAjaxContainerversion2").html(result);
                    myAjaxContainer.innerHTML = "";
                  },
                  error: function(XMLHttpRequest) {
                  alert("Canvas name already exists!");
                  }
                });
      }
  }
    function loadCanvas(){
      var uname = document.URL.split('?');
      var on = (uname[1]).toString();
           $.ajax({url:"/notefires/homepage/"+on,
                  success:function(result){
                  $("#myAjaxContainer").html(result);
                }});
}
  function myhome(){
    myAjaxContainerversion2.innerHTML = "";
    loadCanvas();
}
    </script>


    <!-- styles -->
    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/stickys.css" rel="stylesheet" />
    <link href="public/FontAwesome/css/font-awesome.css" rel="stylesheet" />
    </head>
<body ng-controller="NotesController" onload="loadCanvas();">
<div> <!--starting div for nav-->
    <!-- Navigation, User Control Panel -->
    <nav>
    <form action="ng-view">
      <li class="tooltip" data-tip="Log-out" accesskey="l"><button type="submit"><img src="public/img/logout.ico" alt=""></button></li>
      </form>
      <li class="tooltip" data-tip="Home" accesskey="c"><button onclick="myhome();"><img src="public/img/home.ico" alt=""></button></li>

      <li class="tooltip" data-tip="New Canvass" accesskey="c"><button onclick="addCanvas();"><img src="public/img/favicon.ico" alt=""></button></li>

      <li class="tooltip" data-tip="Help" accesskey="h" ng-click="toggleHelp()"><button><img src="public/img/Help.ico" alt=""></button><a ng-click="toggleHelp()"></a></li>

      <li class="tooltip" data-tip="About" accesskey="a" ng-click="showAboutDialog()"><button><img src="public/img/Info.ico" alt=""></button><a ng-click="showAboutDialog()"></a></li>

    </nav>

</div> <!--ending div for nav-->


<div id="myAjaxContainer">
</div>
<div id="myAjaxContainerversion2">
</div>
<style type="text/css">
        #myAjaxContainerversion2{
          padding-left: 10%;
          color: white;
        }
</style>


    <!-- Add note form -->
<div class="formWrapper" id="formWrapper">
  <form class="form-horizontal" ng-submit="submitNote()">
        <!-- success msg -->
        <p class="success" id="success">Sticky note saved</p>
        <!-- character count -->
        <p class="noteCharCount" ng-model="noteMessage"><span></strong></span></p>
        <!-- close icon -->
        <p class="closeFormIcon"><a id="closeIcon" ng-click="closeAddNoteForm()"><span class="icon-cancel"></span></a></p>
        <!-- note body textarea -->
        <div class="control-group">
          <label class="control-label" for="noteMessage">Note</label>
          <div class="controls"><textarea rows="5" id="noteMessage" maxlength="140" ng-model="noteMessage"></textarea></div>
        </div>
        <!-- title textbox -->
        <div class="control-group">
          <label class="control-label" for="noteTitle">Title</label>
          <div class="controls"><input type="text" id="noteTitle" ng-model="noteTitle" placeholder="Optional Title"/></div>
        </div>
        <!-- submit button -->
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary"><span aria-hidden="true" class="icon-new"></span> {{submitButton}}</button>
            <button type="button" class="btn btn-danger" id="cancelButton" ng-click="closeAddNoteForm()"><span aria-hidden="true" class="icon-cancel"></span> Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <!-- Recycle Bin -->
    <div class="recycleBin" id="recycleBin">
      <div class="rbHeadingWrapper">
        <h1>Recycle Bin</h1>
        <p class="closeRecycleBinIconWrapper"><a class="icon-cancel" ng-click="toggleRecycleBin()"></a></p>
      </div>
      <div class="rbContentWrapper">
        <button type="button" class="btn" ng-click="selectAll()" ng-disabled="rbSelect"><span class="icon-checkbox"></span> {{ rbSelectBtn }}</button>
        <button type="button" class="btn" ng-disabled="rbChildBtns" ng-click="permDelNotes()"><span class="icon-trash-skinny"></span> Delete</button>
        <button type="button" class="btn" ng-disabled="rbChildBtns" ng-click="restoreNote()"><span class="icon-restore"></span> Restore</button>
        <hr />
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Title</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="note in recycle | orderBy:rbOrder">
              <td><input type="checkbox" ng-model="note.selected" ng-change="setChildBtns()" /> {%raw%}note.date{%endraw%}</td>
              <td>{%raw%} note.title {%endraw%}</td>
              <td>{%raw%} note.msg {%endraw%}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
<!-- Help -->
    <div class="help" id="help">
      <div class="h1Wrapper">
        <h1>Help</h1>
        <p class="closeHelpIconWrapper"><a ng-click="toggleHelp()"><img src="public/img/exit.ico" alt=""></a></p>
      </div>

      <article>

        <!-- Deleting a Sticky Note -->
        <h2>Deleting a Sticky Note</h2>
        <div>
        <ol>
        <br/>
        <br/>
        <br/>
        <br>
        <br/>
          <li>
              <p>
            To delete a sticky note is to simply <strong>click the delete icon</strong>
            located <strong>on the sticky note</strong> itself.
          </p>
          </li>
        </ol>
        </div>

        <!-- Creating a new Sticky Note -->
        <h2>Creating a New Sticky Note</h2>
        <div>
          <ol>
            <br/>
            <br/>
            <br/>
            <br/>
            <li>
              Click on the "<strong>New Sticky Note</strong>" icon, you will then be
              presented with a form to enter the notes details.
            </li>
            <li>
              In the field labeled "<strong>Note</strong>" is where you can type the
              body of the note.
            </li>


            <li>
              After clicking
              the "<strong>SAVE NOTE</strong>" button, the note will be added in the user's canvas.
            </li>
          </ol>
        </div>

        <!-- Updating a Sticky Note -->
        <h2>Updating a Sticky Note</h2>
        <div>
          <ol>
            <li>
              <p>
              From time to time you may find it useful to update a sticky note
              that you have previously created. To update a sticky note:
            </p>
              <strong>Click on the edit icon</strong> located on the sticky note
              that you wish to update.
            </li>
            <li>
              Upon clicking the edit icon, you will be presented with a form that
              will allow you to edit the notes content.
            </li>
          </ol>
        </div>


      </article>
    </div>

    <!-- About -->
    <div class="aboutWindow" id="aboutWindow" title="About NoTEEfy">
      <p class="closeDialogWrapper"><a ng-click="closeAboutDialog()">
      <img src="public/img/x.ico" alt=""><span></span></a></p>

      <article>
        <header>
          <h1>NoTEEfy</h1>
          <p class="version">ver 2.0</p>
          <p class="tagline">Satisfaction happens here up to remind you</p>
        </header>

        <hr />

        <p>
          Designed and maintained by:
          <br>
          <h2>Khent Estrella</h2> @kenneth.estrella@cloudsherpas.com
          <h2>Jona Eroy</h2> @jona.eroy@cloudsherpas.com
          <h2>Bryan L. Tejano</h2>@bryan.tejano@cloudsherpas.com
        </p>

      </article>

      <hr />

      <h2>Technologies, Software and Resources</h2>
      <ul class="technologies clearfix">
        <li><a href="http://angularjs.org/">Angular JS</a></li>
        <li><a href="http://www.w3schools.com/css3/css3_intro.asp">CSS3</a></li>
        <li><a href="http://css3generator.com/">CSS3 Generator</a></li>
        <li><a href="http://favicon-generator.org/">Favicon Generator</a></li>
        <li><a href="http://www.fontsquirrel.com/">Font Squirrel</a></li>
        <li><a href="http://www.w3schools.com/html/html5_intro.asp">HTML5</a></li>
        <li><a href="http://icomoon.io/">IcoMoon</a></li>
        <li><a href="http://jquery.com/">jQuery</a></li>
        <li><a href="http://jqueryui.com/">jQuery UI</a></li>
      </ul>
      <hr />
    </div>

<!-- scripts -->
    <script src="ng/public/jquery.plugins/jquery.min.js"></script>
    <script src="ng/public/jquery.plugins/jquery-ui.min.js"></script>
    <script src="ng/public/js/libs/angular.min.js"></script>
    <script src="ng/controllers/controllers.js"></script>
    <script src="ng/public/js/effects.js"></script>
  </body>
</html>
