<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Notefy</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div ng-show="error" class="alert alert-danger">{{error}}</div>
          <ul class="nav navbar-nav">
            <li ng-class="getClass('/')">
              <a href="#/notes/get-started">Get Started <span class="sr-only">(current)</span></a>
            </li>
          </ul>

          <ul class="nav navbar-nav" ng-repeat="menu in links">
            <li ng-class="getClass({{ menu.canvas_id }})">
              <a href="#/canvas/{{ menu.canvas_id }}"> {{ menu.canvas_name }}</a>
            </li>
          </ul>

          <ul class="nav navbar-nav">
            <li>
              <a href="" data-toggle="modal" data-target="#canvasModal">
                Create Canvas <i class="fa fa-plus-square"></i>
              </a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a  href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              Welcome, {{ account.currentUser }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#/settings">Settings</a></li>
                <li class="divider"></li>
                <li><a href="#/login">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->

      </div><!-- /.container-fluid -->
    </nav>

