<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Notefy</title>
    <!-- Bootstrap Core CSS -->
    <link href="ng/public/bootstrap/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="ng/public/FontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="ng/public/css/googlefonts.css" rel="stylesheet" type="text/css">
    <link href="ng/public/css/googlefonts2.css" rel="stylesheet" type="text/css">

    <!--
    <link href="ng/public/css/notefy.min.css" rel="stylesheet">
    <link href="ng/public/css/notes.css" rel="stylesheet">
     -->

    <!-- Custom CSS -->
    <link href="ng/public/css/grayscale.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Top Scroll</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#login">Login</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#register">Register</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading; ">Notefy</h1>
                        <p1 class="intro-text">Taking notes never goes out of style.</p1>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <about-label> </about-label>
  <!--   <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 >About Notefy</h2>
                <p class="brand-heading">Notefy is a simple application for you. </p>
            </div>
        </div>
    </section> -->

    <!-- Login Section -->
    <login-form></login-form>
   <!-- <section id="login" ng-controller="loginController" class="content-section" >
        <div class="login-section">
            <div class="container">
                <div class="col-lg-4 col-lg-offset-4">
                    <div ng-show="error" class="alert alert-danger">{{error}}</div>
                      <form name="form" ng-submit="login(accountLogin)" role="form">
                          <div class="panel panel-default ">
                            <div class="panel-heading">
                              <h3 class="panel-title"> Login </h3>
                            </div>
                            <div class="panel-body">

                              <div class="form-group">
                                  <label for="username">Username</label>
                                  <i class="fa fa-key"></i>
                                  <input type="text" name="username" id="username" class="form-control"
                                  ng-model="accountLogin.username" required />
                                  <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                              </div>
                              <div class="form-group">
                                  <label for="password">Password</label>
                                  <i class="fa fa-lock"></i>
                                  <input type="password" name="password" id="password" class="form-control"
                                  ng-model="accountLogin.password" required />
                                  <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                              </div>
                              <div class="form-actions">
                                  <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Login</button>
                                  or <a class="page-scroll" href="#register">Sign up!</a>
                                  <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                              </div>
                              </div>
                              </div>
                      </form>
                </div>
            </div>
        </div>
</section> -->



    <!-- Register Section -->
    <register-form> </register-form>
<!-- <section id="register" ng-controller="loginController" class=" content-section" >
      <div class="register-section">
        <div class="row">
          <div class="col-lg-4 col-lg-offset-4">
            <div ng-show="error" class="alert alert-danger">{{error}}</div>
            <div ng-show="message" class="alert alert-info">{{message}}</div>
                <form name="regForm" ng-submit="register(account)" role="form">
                    <div class="panel panel-default ">
                    <div class="panel-heading">
                      <h3 class="panel-title"> Register </h3>
                    </div>
                    <div class="panel-body">
                         <div class="form-group">
                            <label for="password">Email</label>
                            <i class="fa fa-lock"></i>
                            <input type="email" name="email" id="email" class="form-control" ng-model="account.email" required />
                            <span ng-show="regForm.email.$dirty && regForm.email.$error.required" class="help-block">Email is required</span>
                        </div>

                        <div class="form-group">
                            <label for="username">Username</label>
                            <i class="fa fa-key"></i>
                            <input type="text" name="username" id="username" class="form-control" ng-model="account.username" required />
                            <span ng-show="regForm.username.$dirty && regForm.username.$error.required" class="help-block">Username is required</span>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <i class="fa fa-lock"></i>
                            <input type="password" name="password" id="password" class="form-control" ng-model="account.password" required />
                            <span ng-show="regForm.password.$dirty && regForm.password.$error.required" class="help-block">Password is required</span>
                        </div>

                        <div class="form-actions">
                            <button type="submit" ng-disabled="regForm.$invalid || dataLoading" class="btn btn-danger">Register</button>
                            back to <a href="#/login">Login</a>
                            <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        </div>
                    </div>
                    </div>
                </form>
          </div>
        </div>
      </div>
    </section> -->





    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Notefy 2015</p>
        </div>
    </footer>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="ng/public/jquery/jquery-1.11.1.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="ng/public/jquery.plugins/jquery.easing.min.js"></script>
    <script src="ng/public/jquery.plugins/autoresize.jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="ng/public/bootstrap/bootstrap.min.js"></script>

    <script src="ng/angular/1.2.27/angular.min.js"></script>
    <script src="ng/angular/1.2.27/angular-route.min.js"></script>
    <script src="ng/angular/1.2.27/angular-sanitize.min.js"></script>
    <script src="ng/angular/1.2.27/angular-animate.min.js"></script>
    <script src="ng/angular/1.2.27/angular-cookies.min.js"></script>


    <script>
    /* localstorage polyfill from https://gist.github.com/350433 */
    ("undefined"==typeof window.localStorage||"undefined"==typeof window.sessionStorage)&&function(){function e(f){function e(a){var b;b=new Date;b.setTime(b.getTime()+31536E6);document.cookie="localStorage="+a+("; expires="+b.toGMTString())+"; path=/"}function g(a){a=JSON.stringify(a);"session"==f?window.name=a:e(a)}var d=function(){var a;if("session"==f)a=window.name;else a:{a=document.cookie.split(";");var b,c;for(b=0;b<a.length;b++){for(c=a[b];" "==c.charAt(0);)c=c.substring(1,c.length);if(0==c.indexOf("localStorage=")){a=
    c.substring(13,c.length);break a}}a=null}return a?JSON.parse(a):{}}();return{length:0,clear:function(){d={};this.length=0;"session"==f?window.name="":e("")},getItem:function(a){return void 0===d[a]?null:d[a]},key:function(a){var b=0,c;for(c in d){if(b==a)return c;b++}return null},removeItem:function(a){delete d[a];this.length--;g(d)},setItem:function(a,b){d[a]=b+"";this.length++;g(d)}}}if("undefined"==typeof window.localStorage)window.localStorage=new e("local");if("undefined"==typeof window.sessionStorage)window.sessionStorage=
    new e("session")}();
    </script>

    <!-- Custom Theme JavaScript -->
    <script src="/public/js/grayscale.js"></script>

    <!-- App -->
    <script src="ng/app.js"></script>
    <script src="ng/config.js"></script>
    <script src="ng/routes.js"></script>
    <script src="ng/directives.js"></script>
    <script src="ng/filters.js"></script>

    <!-- services here -->
    <script src="ng/services/noterest.js"></script>
    <script src="ng/services/auth.js"></script>

    <!-- controllers here -->
    <script src="ng/controllers/user.js"></script>
    <script src="ng/controllers/application.js"></script>

    <script src="ng/controllers/canvas.js"></script>
    <script src="ng/controllers/notes.js"></script>
    <script src="ng/controllers/getStarted.js"></script>

    <!-- Directives -->
    <script src="ng/directives/shakeThat.js"></script>
    <script src="ng/directives/loginRegister.js"></script>
</body>
</html>
