<form  action="/api/users/mylogin_process" method="post">
EMAIL: <input type = "text" id="email" name="email" required/> <br><br>
PASSWORD: <input type = "password" id="password" name="password" required/> <br>
<button type="submit">LOG IN</button>
</form>
<a href="/api/users/myreg">REGISTER</a>
