 textarea {  padding: 10px; position: absolute; }
.notes-div{
  float: left;
  padding: 1%;
  line-height:125%;
  resize: none;
  overflow-y: hidden;
  height: 170px;
}

.notes-close {
    margin: auto;
    position: absolute;
    top: -14%;
    right: -2%;
}

.container {
    min-height: inherit;
}
