<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
  <script type="text/javascript"></script>

</head>
<body ng-app="myApp">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">GEET</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
	<button type="button" class="btn btn-default navbar-btn" ng-click='menus'><span class="glyphicon glyphicon-plus"></button>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- <div class="container">
  <div class="jumbotron" style="width:500px; height:200px; float:right">
    <h1>My GEET Notefy Fire!</h1>
    <button type="button" class="btn btn-default" ng-click='menus'><span class="glyphicon glyphicon-plus-sign"></button>
  </div> -->
<div class="jumbotron" style="width:100%; height:700px; float:center">
   <div class="container">
      <h1>My GEET Notefy Fire!</h1>

      <p><button type="button" style="margin-left:110%;margin-right:1px;display:block;margin-top:40%;margin-bottom:0%" ng-click='menus'><span class="glyphicon glyphicon-plus-sign"></button>
      </p>
   </div>
</div>

</body>
</html>

