<!doctype html>
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" rel="stylesheet" href="add.css">
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src='notefy.js'></script>

</head>
<body>
<!-- Declare a new AngularJS app and associate the controller -->
<div ng-app="" ng-controller="ContactController">

    Email:<input type="text" ng-model="newcontact" />

    <button ng-click="add()">Add</button>

    <h2>Contacts</h2>
    <ul>
        <li ng-repeat="contact in contacts"> {{ contact }} </li>
    </ul>

</div>
<button type='button' ngClick='list'>List</button>
</body>
</html>
