<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <title>Sticky Notes</title>

    <!-- scripts -->
    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/jquery-ui.min.js"></script>
    <script src="js/libs/angular.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/effects.js"></script>

    <!-- styles -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/stickys.css" />
  </head>

  <body ng-controller="NotesController">

    <!-- Navigation, User Control Panel -->
    <nav>
      <li class="tooltip" data-tip="Log-out" accesskey="l"><button><img src="img/logout.ico" alt=""></button></li>
      <li class="tooltip" data-tip="New Canvass" accesskey="c"><button><img src="img/favicon.ico" alt=""></button></li>
      <li class="tooltip" data-tip="New Sticky Note" accesskey="n" ng-click="showAddNoteForm()"><a class="icon icon-new" ng-click="showAddNoteForm()"></a></li>
      <li class="tooltip" data-tip="Help" accesskey="h" ng-click="toggleHelp()"><a class="icon icon-help" ng-click="toggleHelp()"></a></li>
      <li class="tooltip" data-tip="About" accesskey="a" ng-click="showAboutDialog()"><a class="icon icon-about" ng-click="showAboutDialog()"></a></li>
      <li class="tooltip" id="trashBin" data-tip="Recycle Bin" accesskey="r" ng-click="toggleRecycleBin()"><a class="icon icon-trash" ng-click="toggleRecycleBin()"><span class="recycleCount" ng-model="recycle">{{recycle.length}}</span></a></li>
    </nav>

    <!-- the notes -->
    <ul class="clearfix" id="notesContainer">
      <li ng-repeat="note in notes" class="aNote" id="{{ note.date }}" my-post-repeat-directive>
        <p><a class="editNote icon-edit" title="edit" ng-click="showEditNoteForm(note)"></a></p>
        <p><a class="deleteNote icon-trash" title="delete" ng-click="animateDeleteNote(note.date)"></a></p>
        <h1>{{ note.title }}</h1>
        <p class="noteDate">{{ note.date | date:'EEE, MMMM d @ h:mm a' }}</p>
        <p>{{ note.msg }}</p>
      </li>
    </ul>

    <!-- Add note form -->
    <div class="formWrapper" id="formWrapper">
      <form class="form-horizontal" ng-submit="submitNote()">

        <!-- success msg -->
        <p class="success" id="success">Sticky note saved</p>

        <!-- character count -->
        <p class="noteCharCount" ng-model="noteMessage"><span>Characters Remaining: <strong>{{140 - noteMessage.length}}</strong></span></p>

        <!-- close icon -->
        <p class="closeFormIcon"><a id="closeIcon" ng-click="closeAddNoteForm()"><span class="icon-cancel"></span></a></p>

        <!-- note body textarea -->
        <div class="control-group">
          <label class="control-label" for="noteMessage">Note</label>
          <div class="controls"><textarea rows="5" id="noteMessage" maxlength="140" ng-model="noteMessage"></textarea></div>
        </div>

        <!-- title textbox -->
        <div class="control-group">
          <label class="control-label" for="noteTitle">Title</label>
          <div class="controls"><input type="text" id="noteTitle" ng-model="noteTitle" placeholder="Optional Title"/></div>
        </div>

        <!-- submit button -->
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary"><span aria-hidden="true" class="icon-new"></span> {{submitButton}}</button>
            <button type="button" class="btn btn-danger" id="cancelButton" ng-click="closeAddNoteForm()"><span aria-hidden="true" class="icon-cancel"></span> Cancel</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Recycle Bin -->
    <div class="recycleBin" id="recycleBin">
      <div class="rbHeadingWrapper">
        <h1>Recycle Bin</h1>
        <p class="closeRecycleBinIconWrapper"><a class="icon-cancel" ng-click="toggleRecycleBin()"></a></p>
      </div>
      <div class="rbContentWrapper">
        <button type="button" class="btn" ng-click="selectAll()" ng-disabled="rbSelect"><span class="icon-checkbox"></span> {{ rbSelectBtn }}</button>
        <button type="button" class="btn" ng-disabled="rbChildBtns" ng-click="permDelNotes()"><span class="icon-trash-skinny"></span> Delete</button>
        <button type="button" class="btn" ng-disabled="rbChildBtns" ng-click="restoreNote()"><span class="icon-restore"></span> Restore</button>
        <hr />
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Title</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="note in recycle | orderBy:rbOrder">
              <td><input type="checkbox" ng-model="note.selected" ng-change="setChildBtns()" /> {{ note.date | date:'MMM d' }}</td>
              <td>{{ note.title }}</td>
              <td>{{ note.msg }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Help -->
    <div class="help" id="help">
      <div class="h1Wrapper">
        <h1>Help</h1>
        <p class="closeHelpIconWrapper"><a class="icon-cancel" ng-click="toggleHelp()"></a></p>
      </div>

      <article>
        <!-- Creating a new Sticky Note -->
        <h2>Creating a New Sticky Note</h2>
        <div>
          <ol>
            <li>
              Click on the "<strong>New Sticky Note</strong>" icon, you will then be
              presented with a form to enter the notes details.
            </li>
            <li>
              In the field labeled "<strong>Note</strong>" is where you can type the
              body of the note.
            </li>
            <li>
              You can optionally give your note a title by typing into the field that
              is labeled "<strong>Title</strong>".
            </li>
            <li>
              Once you are finished typing the title of the note, you can simply press
              the "<strong>enter</strong>" key on your keyboard or click on the
              "<strong>Add</strong>" button.
            </li>
            <li>
              After either pressing the "<strong>enter</strong>" key or clicking on
              the "<strong>Add</strong>" button, you will be presented with a message
              letting you know that your note has been successfully added and the
              form will remove itself from the screen.
            </li>
          </ol>
        </div>

        <!-- Updating a Sticky Note -->
        <h2>Updating a Sticky Note</h2>
        <div>
          <p>
            From time to time you may find it useful to update a sticky note
            that you have previously created. To update a sticky note:
          </p>
          <ol>
            <li>
              <strong>Click on the edit icon</strong> located on the sticky note
              that you wish to update.
            </li>
            <li>
              Upon clicking the edit icon, you will be presented with a form that
              will allow you to edit the notes message and title.
            </li>
          </ol>
        </div>

        <!-- Deleting a Sticky Note -->
        <h2>Deleting a Sticky Note</h2>
        <div>
          <p>
            To delete a sticky note is to simply <strong>click the delete icon</strong>
            located <strong>on the sticky note</strong> itself.
          </p>
        </div>

        <!-- Sorting Notes -->
        <h2>Moving Notes Around</h2>
        <div>
          <p>
            By default when you create a new note, the sticky note is placed on
            the screen after all the other notes. This default sequence will keep
            your notes in chronological order. However, there may be times when
            you wish to move a sticky note to a different position or to arrange
            your notes by a different criteria other then the date. To move a note:
          </p>
          <ol>
            <li><strong>Click and drag</strong> the note you wish to move.</li>
            <li>
              As you are dragging a note around the screen, the other notes will
              start sliding left or right creating a space for you to place the
              note that is being dragged.
            </li>
            <li>
              Once the note is in the desired position, simply <strong>drop the
              note</strong> into its new location.
            </li>
          </ol>
        </div>

        <!-- Access Keys -->
        <h2>Keyboard Shortcuts (Access Keys)</h2>
        <div>
          <p>
            In addition to using the mouse to click on the navigation icons, you
            can also use keyboard shortcuts. The keyboard shortcuts are straight
            forward, for example n = new note, however how you access these shortcuts
            varies depending on your platform and browser.
          </p>
          <!-- Windows -->
          <table>
            <caption>Windows</caption>
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Chrome</th>
                <th>Firefox</th>
                <th>Opera</th>
                <th>IE</th>
                <th>Safari</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>New Note [n]</td>
                <td>Alt+n</td>
                <td>Alt+Shift+n</td>
                <td>Shift+Esc n</td>
                <td>Alt+n</td>
                <td>Alt+n</td>
              </tr>
              <tr>
                <td>Help [h]</td>
                <td>Alt+h</td>
                <td>Alt+Shift+h</td>
                <td>Shift+Esc h</td>
                <td>Alt+h</td>
                <td>Alt+h</td>
              </tr>
              <tr>
                <td>About [a]</td>
                <td>Alt+a</td>
                <td>Alt+Shift+a</td>
                <td>Shift+Esc a</td>
                <td>Alt+a</td>
                <td>Alt+a</td>
              </tr>
              <tr>
                <td>Recycle Bin [r]</td>
                <td>Alt+r</td>
                <td>Alt+Shift+r</td>
                <td>Shift+Esc r</td>
                <td>Alt+r</td>
                <td>Alt+r</td>
              </tr>
            </tbody>
          </table>
          <!-- Mac -->
          <table>
            <caption>Mac</caption>
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Chrome</th>
                <th>Firefox</th>
                <th>Opera</th>
                <th>IE</th>
                <th>Safari</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>New Note [n]</td>
                <td>Ctrl+Opt+n</td>
                <td>Ctrl+Opt+n</td>
                <td>Shift+Esc n</td>
                <td>Alt+n</td>
                <td>Ctrl+Opt+n</td>
              </tr>
              <tr>
                <td>Help [h]</td>
                <td>Ctrl+Opt+h</td>
                <td>Ctrl+Opt+h</td>
                <td>Shift+Esc h</td>
                <td>Alt+h</td>
                <td>Ctrl+Opt+h</td>
              </tr>
              <tr>
                <td>About [a]</td>
                <td>Ctrl+Opt+a</td>
                <td>Ctrl+Opt+a</td>
                <td>Shift+Esc a</td>
                <td>Alt+a</td>
                <td>Ctrl+Opt+a</td>
              </tr>
              <tr>
                <td>Recycle Bin [r]</td>
                <td>Ctrl+Opt+r</td>
                <td>Ctrl+Opt+r</td>
                <td>Shift+Esc r</td>
                <td>Alt+r</td>
                <td>Ctrl+Opt+r</td>
              </tr>
            </tbody>
          </table>
          <!-- Linux -->
          <table>
            <caption>Linux</caption>
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Chrome</th>
                <th>Firefox</th>
                <th>Opera</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>New Note [n]</td>
                <td>Alt+n</td>
                <td>Alt+Shift+n</td>
                <td>Shift+Esc n</td>
              </tr>
              <tr>
                <td>Help [h]</td>
                <td>Alt+h</td>
                <td>Alt+Shift+h</td>
                <td>Shift+Esc h</td>
              </tr>
              <tr>
                <td>About [a]</td>
                <td>Alt+a</td>
                <td>Alt+Shift+a</td>
                <td>Shift+Esc a</td>
              </tr>
              <tr>
                <td>Recycle Bin [r]</td>
                <td>Alt+r</td>
                <td>Alt+Shift+r</td>
                <td>Shift+Esc r</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Reporting a Bug -->
        <h2>Reporting a Bug</h2>
        <div>
          <p>
            If you find a bug (the application produces an error) please report the
            error using our
            <a href="https://GEET-Notefire.com">
              https://GEET-Notefire.com
            </a>. When reporting a bug please include the following information:
          </p>
          <ul>
            <li>The <strong>Browser and its version number</strong> that you are using</li>
            <li>The <strong>Operating System and its version</strong> that you are using</li>
          </ul>
          <p>
            By submitting the above requested information accurately will help
            us to recreate your environment and also the error that you have
            encountered so we can troubleshoot it.
          </p>
        </div>

      </article>
    </div>

    <!-- About -->
    <div class="aboutWindow" id="aboutWindow" title="About NoTEE-fire">
      <p class="closeDialogWrapper"><a ng-click="closeAboutDialog()""><span class="icon-cancel"></span></a></p>

      <article>
        <header>
          <h1>NoTEE-fire</h1>
          <p class="version">ver 2.0</p>
          <p class="tagline">Satisfaction happens here up to remind you</p>
        </header>

        <hr />

        <p>
          Designed and maintained by:
          <br>
          <h2>Khent Estrella</h2> @kenneth.estrella@cloudsherpas.com
          <h2>Jona Eroy</h2> @jona.eroy@cloudsherpas.com
          <h2>Bryan L. Tejano</h2>@bryan.tejano@cloudsherpas.com
        </p>

      </article>

      <hr />

      <h2>Technologies, Software and Resources</h2>
      <ul class="technologies clearfix">
        <li><a href="http://angularjs.org/">Angular JS</a></li>
        <li><a href="http://www.w3schools.com/css3/css3_intro.asp">CSS3</a></li>
        <li><a href="http://css3generator.com/">CSS3 Generator</a></li>
        <li><a href="http://favicon-generator.org/">Favicon Generator</a></li>
        <li><a href="http://www.fontsquirrel.com/">Font Squirrel</a></li>
        <li><a href="http://www.w3schools.com/html/html5_intro.asp">HTML5</a></li>
        <li><a href="http://icomoon.io/">IcoMoon</a></li>
        <li><a href="http://jquery.com/">jQuery</a></li>
        <li><a href="http://jqueryui.com/">jQuery UI</a></li>
      </ul>
      <hr />
    </div>
  </body>
</html>
