.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

#loading {
	display: none;
	position: absolute;
	top: 30%;
	left: 40%;
	padding: 16px;
    width: 250px;
	z-index:1002;
	overflow: auto;
    background-image: url(/img/ajax_loader.gif);
    background-repeat: no-repeat
}


    .bs-example{
        margin: 20px;
    }
        #one{
        border-style: ridge;
        border-width: 1px;
        border-color: #E0E0E0;
        height: 20%;
        width: 15%;
        resize: both;
        overflow: hidden;
        box-shadow: 10px 10px 5px #404040;
        background-color: #FFFF99;
    }
    #okaysupposed, .wrapclass{
        border: black 2px solid;
    }
    #closer{
        position:absolute;
    }
