  <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 >About Notefy</h2>
                <p class="brand-heading">Notefy is a simple application for you. </p>
            </div>
        </div>
    </section>
