<div class="jumbotron" style="width:100%; height:700px; float:center">
   <div class="container">
        <div id="draggable" class="myInvisibleDiv">
            <textarea id="notepad" class="sticky ui-draggable" rows="4" cols="50" class="notes-div"></textarea>
            <span>{{message}}</span>
        </div>
      <button type="button" style="margin-left:110%;margin-right:1px;display:block;margin-top:40%;margin-bottom:0%" ng-click='notes-div'><span class="glyphicon glyphicon-plus-sign"></button>
   </div>
</div>
