<!DOCTYPE html>
<html ng-app='scotchApp'>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
  <!-- Draggable -->
  <link rel="stylesheet" href="file/jquery-ui.css">
  <link rel="stylesheet" href="file/style.css">
  <link rel="stylesheet" href="file/style.css">


</head>
<body ng-controller="mainController">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#home">GEET</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#science">Science</a></li>
        <li><a href="#math">Math</a></li>
	     <button type="button" class="btn btn-default navbar-btn" ng-click='menus'><span class="glyphicon glyphicon-plus"></button>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <div ng-view>
  </div>
</div>

<!-- SPELLS -->
<script src="file/script.js"></script>
<script src="file/jquery.js"></script>
<script src="file/jquery-ui.js"></script>
<script src="jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="angularjs/angular.min.js"></script>
<script src="angularjs/angular-route.min.js"></script>
<script src="script.js"></script>
<script type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src='jquery.min.js'></script>
<script src='angularjs/angular.min.js'></script>
<script src='angularjs/angular-sanitize.min.js'></script>
<script src='bootstrap/js/bootstrap.min.js'></script>
<script src="js/index.js"></script>
<script language="javascript" type="text/javascript" src="http://static.chartbeat.com/js/chartbeat.js"></script>

</body>
</html>

