<div ng-controller="notesController" ng-show="showOnCanvas">
  <a class="create-note-btn" title="Create new note" ng-click="createNote()">
    <div class="plus-icon-button plus-icon-home">
      <div class="fa fa-plus plus-icon-display"></div>
    </div>
  </a>
</div>
